{% extends "components/base.html" %}
{% load static %}
{% block base %}
  <body style="background: linear-gradient(45deg,rgba(0, 12, 29, 1) 0%, rgba(16, 46, 66, 1) 100%)">
    <main class="d-flex justify-content-center align-items-center vh-100">
      <div class="card p-4 rounded-4 shadow"
           style="width: 400px;
                  max-width: 90%">
        <div class="text-center">
          <img src="{% static "img/logo-full.png" %}"
               alt="Logo"
               width="200"
               height="200" />
        </div>
        {% include "components/alert.html" %}
        <form action="{% url "login" %}" method="post">
          {% csrf_token %}
          {% comment %} Email {% endcomment %}
          <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email"
                   id="email"
                   class="form-control"
                   name="username"
                   placeholder="Digite seu endereço de e-mail"
                   autocomplete="email"
                   autofocus
                   value="{{ form.email.value|default_if_none:"" }}"
                   required />
          </div>
          {% comment %} Password {% endcomment %}
          <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <div class="input-group">
              <input type="password"
                     id="password"
                     class="form-control"
                     name="password"
                     placeholder="Digite sua senha"
                     required />
            </div>
          </div>
          <div class="mb-3">{{ form.turnstile }}</div>
          <button type="submit" class="btn btn-primary w-100">Entrar</button>
        </form>
        <div class="text-center mt-4">
          {% comment %} <a href="#">Esqueceu a senha?</a> {% endcomment %}
          <p>
            Não tem uma conta?
            <a href="{% url "register" %}">Criar conta</a>
          </p>
        </div>
      </div>
    </main>
  </body>
{% endblock base %}
