{% extends "components/base.html" %}
{% load static %}
{% block base %}
    <body style="background: linear-gradient(45deg,rgba(0, 12, 29, 1) 0%, rgba(16, 46, 66, 1) 100%)">
        <main class="d-flex justify-content-center align-items-center vh-100">
            <div class="card p-4 rounded-4 shadow"
                 style="width: 400px;
                        max-width: 90%">
                <h3 class="text-center">Registro</h3>
                {% include "components/alert.html" %}
                <form action="{% url "register" %}" method="post">
                    {% csrf_token %}
                    {% comment %} First name {% endcomment %}
                    <div class="mb-3">
                        <label class="form-label" for="name">Nome</label>
                        <input type="text"
                               class="form-control"
                               id="first-name"
                               name="first_name"
                               placeholder="Digite seu nome"
                               minlength="2"
                               maxlength="30"
                               value="{{ form.first_name.value|default_if_none:"" }}"
                               required />
                    </div>
                    {% comment %} Last name {% endcomment %}
                    <div class="mb-3">
                        <label class="form-label" for="last_name">Sobrenome</label>
                        <input type="text"
                               class="form-control"
                               id="last-name"
                               name="last_name"
                               placeholder="Digite seu sobrenome"
                               minlength="2"
                               maxlength="30"
                               value="{{ form.last_name.value|default_if_none:"" }}"
                               required />
                    </div>
                    {% comment %} Email address {% endcomment %}
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email"
                               class="form-control"
                               id="email"
                               name="email"
                               placeholder="Digite seu endereço de e-mail"
                               autocomplete="email"
                               value="{{ form.email.value|default_if_none:"" }}"
                               required />
                    </div>
                    {% comment %} Passowrd {% endcomment %}
                    <div class="mb-3">
                        <label for="password1" class="form-label">Senha</label>
                        <div class="input-group">
                            <input type="password"
                                   id="password1"
                                   class="form-control"
                                   name="password1"
                                   placeholder="Digite sua senha"
                                   autocomplete="current-password"
                                   required />
                        </div>
                    </div>
                    {% comment %} Confirm password {% endcomment %}
                    <div class="mb-3">
                        <label for="password" class="form-label">Confirmar senha</label>
                        <div class="input-group">
                            <input type="password"
                                   class="form-control"
                                   id="confirm-password"
                                   name="password2"
                                   placeholder="Confirme sua senha"
                                   minlength="8"
                                   required />
                        </div>
                    </div>
                    <div class="mb-3">{{ form.turnstile }}</div>
                    <button type="submit" class="btn btn-primary w-100">Criar Conta</button>
                </form>
                <div class="text-center mt-4">
                    <p>
                        Já tem uma conta?
                        <a href="{% url "login" %}">Fazer login</a>
                    </p>
                </div>
            </div>
        </main>
    </body>
{% endblock base %}
