{% load static %}
<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="title" content="Pupil Questions">
        <meta name="description" content="Criar conta no Pupil Questions">
        <meta name="keywords" content="ia, ai, questões, questions, estudar">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="Portuguese">
        <title>Criar conta</title>
        <link rel="stylesheet" href="{% static "style.css" %}" />
        <link rel="shortcut icon"
              href="{% static "favicon.ico" %}"
              type="image/x-icon" />
    </head>
    <body style="background: linear-gradient(45deg,rgba(0, 12, 29, 1) 0%, rgba(16, 46, 66, 1) 100%)">
        <main class="d-flex justify-content-center align-items-center vh-100">
            <div class="card p-4 rounded-4 shadow"
                 style="width: 400px;
                        max-width: 90%">
                <h3 class="text-center">Registro</h3>
                {% include "components/alert.html" %}
                <form action="{% url "register" %}" method="post">
                    {% csrf_token %}
                    {% comment %} First name {% endcomment %}
                    <div class="mb-3">
                        <label class="form-label" for="name">Nome</label>
                        <input type="text"
                               class="form-control"
                               id="first-name"
                               name="first_name"
                               placeholder="Digite seu nome"
                               minlength="2"
                               maxlength="30"
                               value="{{ form.first_name.value|default_if_none:"" }}"
                               required />
                    </div>
                    {% comment %} Last name {% endcomment %}
                    <div class="mb-3">
                        <label class="form-label" for="last_name">Sobrenome</label>
                        <input type="text"
                               class="form-control"
                               id="last-name"
                               name="last_name"
                               placeholder="Digite seu sobrenome"
                               minlength="2"
                               maxlength="30"
                               value="{{ form.last_name.value|default_if_none:"" }}"
                               required />
                    </div>
                    {% comment %} Email address {% endcomment %}
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email"
                               class="form-control"
                               id="email"
                               name="email"
                               placeholder="Digite seu endereço de e-mail"
                               autocomplete="email"
                               value="{{ form.email.value|default_if_none:"" }}"
                               required />
                    </div>
                    {% comment %} Passowrd {% endcomment %}
                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password"
                               class="form-control"
                               id="password"
                               name="password1"
                               placeholder="Digite sua senha"
                               minlength="8"
                               required
                               autocomplete="current-password"
                               aria-describedby="passwordHelper" />
                        <div id="passwordHeler" class="form-text">
                            Sua senha deve ter:
                            <ul class="mb-0">
                                <li>Ao menos 8 caracteres</li>
                                <li>Uma letra maiúscula</li>
                                <li>Uma letra minúscula</li>
                                <li>Um número</li>
                                <li>Um caractere especial (ex: !@#$%)</li>
                            </ul>
                        </div>
                    </div>
                    {% comment %} Confirm password {% endcomment %}
                    <div class="mb-3">
                        <label for="password" class="form-label">Confirmar senha</label>
                        <input type="password"
                               class="form-control"
                               id="confirm-password"
                               name="password2"
                               placeholder="Confirme sua senha"
                               minlength="8"
                               required />
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Criar Conta</button>
                </form>
                <div class="text-center mt-4">
                    <p>
                        Já tem uma conta?
                        <a href="{% url "login" %}">Fazer login</a>
                    </p>
                </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
