{% extends 'components/layout.html.jinja' %}
{% from 'macros/icon.html.jinja' import icon %}

{% block content %}
  <h2 class="mb-3">Sua conta</h2>
  <p>
    Bem-vindo(a) a pagina da sua conta. Você poderá ver todos os seus dados
    pessoais aqui.
  </p>

  <div class="row g-3">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="m-0">Suas Informaçõoes</h4>
        </div>

        <div class="card-body">
          <form action="{{ url_for('post_account') }}" method="post">
            <table class="table">
              <tr>
                <td>ID</td>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    id="user-id"
                    value="{{ user.id }}"
                    readonly
                    disabled
                    required
                  />
                </td>
              </tr>

              <tr>
                <td>Nome</td>
                <td>
                  <input
                    type="text"
                    id="name"
                    name="name"
                    class="form-control"
                    placeholder="Nome"
                    value="{{ user.name }}"
                    minlength="2"
                    maxlength="40"
                    autocomplete="name"
                    required
                  />
                </td>
              </tr>

              <tr>
                <td>Sobrenome</td>
                <td>
                  <input
                    type="text"
                    name="last_name"
                    id="last_name"
                    class="form-control"
                    placeholder="Sobrenome"
                    value="{{ user.last_name }}"
                    minlength="2"
                    maxlength="40"
                    required
                  />
                </td>
              </tr>

              <tr>
                <td>E-mail</td>
                <td>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="E-mail"
                    value="{{ user.email }}"
                    autocomplete="email"
                    required
                  />

                  {% if user.is_verified %}
                    <small class="text-success">
                      {{ icon("check") }}E-mail verificado</small
                    >
                  {% else %}
                    <small class="text-warning">
                      {{ icon("exclamation-triangle-fill") }}E-mail não
                      verificado</small
                    >
                  {% endif %}
                </td>
              </tr>
            </table>
            <button type="submit" class="btn btn-primary w-100">Salvar</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="m-0">Alterar Senha</h4>
        </div>

        <div class="card-body">
          <form action="{{ url_for('account_password') }}" method="post">
            <div class="mb-3">
              <label class="form-label" for="password">Senha atual</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Digite sua senha atual"
                autocomplete="current-password"
                required
              />
            </div>

            <div class="mb-3">
              <label class="form-label" for="password">Nova senha</label>
              <input
                type="password"
                class="form-control"
                id="new-password"
                name="new_password"
                minlength="8"
                placeholder="Digite a nova senha"
                required
              />
            </div>

            <div class="mb-3">
              <label class="form-label" for="password"
                >Confirmar nova senha</label
              >
              <input
                type="password"
                class="form-control"
                id="confirm-new-password"
                name="confirm_new_password"
                minlength="8"
                placeholder="Confirme a nova senha"
                required
              />
            </div>

            <button class="btn btn-primary w-100">Alterar Senha</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
