<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar conta</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='favicon.ico') }}"
      type="image/x-icon"
    />
  </head>

  {% set bg_url = url_for('static', path='bg.jpg') %}
  <body style="background-image: url('{{ bg_url }}')">
    <main class="d-flex justify-content-center align-items-center vh-100">
      <div
        class="card p-4 rounded-4 shadow"
        style="width: 400px; max-width: 90%"
      >
        <div class="text-center">
          <img
            src="{{ url_for('static', path='logo-full.png') }}"
            alt="Logo"
            width="200"
            height="200"
          />
        </div>

        {% include 'components/alert.html.jinja' %}

        <form action="{{ url_for('post_register') }}" method="post">
          <div class="mb-3">
            <label class="form-label" for="name">Nome</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Digite seu nome"
              minlength="2"
              maxlength="40"
              required
            />
          </div>

          <div class="mb-3">
            <label class="form-label" for="last_name">Sobrenome</label>
            <input
              type="text"
              class="form-control"
              id="last-name"
              name="last_name"
              placeholder="Digite seu sobrenome"
              minlength="2"
              maxlength="40"
              required
            />
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Digite seu endereço de e-mail"
              required
            />
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Digite sua senha"
              minlength="8"
              required
              autocomplete="current-password"
            />
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Confirmar senha</label>
            <input
              type="password"
              class="form-control"
              id="confirm-password"
              name="confirm_password"
              placeholder="Confirme sua senha"
              minlength="8"
              required
            />
          </div>

          <button type="submit" class="btn btn-primary w-100">
            Criar Conta
          </button>
        </form>

        <div class="text-center mt-4">
          <p>
            Já tem uma conta?
            <a href="{{ url_for('login') }}">Fazer login</a>
          </p>
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
