{% load menu %}
<nav class="nav flex-column px-3">
  {% nav_link "Dashboard" "dashboard" "grid-1x2" %}
  {% nav_link "Gerar Questões" "add_question_set" "stars" %}
  {% nav_link "Práticas" "user_practices" "mortarboard" %}
  <div class="mt-3 mb-1">
    <span class="fs-6 text-secondary">Questões</span>
  </div>
  {% for question_set in user_question_sets %}
    {% question_set_nav_link question_set %}
  {% empty %}
    <span class="text-muted small">Nenhum conjunto de questões</span>
  {% endfor %}
</nav>
